<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-sm-9 col-lg-6">
      <div class="card">
        <div class="card-header bg-dark text-white align-content-center">
          <h4 class="text-center mt-1">Marcador de Voleibol</h4>
        </div>
        <div class="card-body">
          <h5 class="text-center">Set nº {{this.partido.marcador.sets}}</h5>
          <div class="row flex-nowrap" [ngClass]="{' flex-row-reverse': swapColumns}">
            <div class="col-md-6 col-sm-6 col-ss-6">
              <div class="d-flex align-items-center">
                <img *ngIf="partido.escudoLocal && partido.escudoLocal!=null" class="mx-auto" [src]="this.getImgSrc(partido.escudoLocal)" style="width: 45px; height: 45px;" alt="Escudo equipo {{partido.equipoLocalText}}">
                <img *ngIf="!partido.escudoLocal || partido.escudoLocal==null" class="mx-auto" src="assets/img/equipo.png"  style="width: 45px; height: 45px;" alt="Escudo equipo {{partido.equipoLocalText}}">
              </div>
              <h5 class="flex-fill text-center equipo">{{this.partido.equipoLocalText}}</h5>
              <div class="d-flex flex-column justify-content-center column mb-3">
                <button class="btn btn-success" (click)="sumarPuntosA()">+</button>
                <h1 class="text-center display-1">{{ this.partido.marcador.puntosActualesLocal }}</h1>
                <button class="btn btn-danger" (click)="restarPuntosA()">-</button>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-ss-6 ">
              <div class="d-flex align-items-center">
                <img *ngIf="partido.escudoVisitante && partido.escudoVisitante!=null" class="mx-auto" [src]="this.getImgSrc(partido.escudoLocal)" style="width: 45px; height: 45px;" alt="Escudo equipo {{partido.equipoLocalText}}">
                <img *ngIf="!partido.escudoVisitante || partido.escudoVisitante==null" class="mx-auto" src="assets/img/equipo.png"  style="width: 45px; height: 45px;" alt="Escudo equipo {{partido.equipoLocalText}}">              </div>
              <h5 class="flex-fill text-center equipo">{{this.partido.equipoVisitanteText}}</h5>
              <div class="d-flex flex-column justify-content-center column mb-3">
                <button class="btn btn-success " (click)="sumarPuntosB()">+</button>
                <h1 class="text-center display-1">{{ this.partido.marcador.puntosActualesVisitante }}</h1>
                <button class="btn btn-danger" (click)="restarPuntosB()">-</button>
              </div>
            </div>
          </div>
          <h6 class=" text-center">{{partido.marcador.pset1Local}}-{{partido.marcador.pset1Visitante}}/{{partido.marcador.pset2Local}}-{{partido.marcador.pset2Visitante}}/{{partido.marcador.pset3Local}}-{{partido.marcador.pset3Visitante}}/{{partido.marcador.pset4Local}}-{{partido.marcador.pset4Visitante}}/{{partido.marcador.pset5Local}}-{{partido.marcador.pset5Visitante}}/</h6>
          <div class="row justify-content-center mt-4">
            <div class="col-md-4">
              <button class="btn btn-primary btn-block" (click)="switchEquipos()">Cambiar lado</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-warning btn-block" (click)="desFinalizarSet()">Desfinalizar set</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-warning btn-block" (click)="finalizarSet()">Finalizar set</button>
            </div>
            <div *ngIf="partido.estado!=2" class="col-md-4">
              <button class="btn btn-danger btn-block" (click)="finalizarPartido()">Finalizar partido</button>
            </div>
            <div *ngIf="partido.estado==2" class="col-md-4">
              <button class="btn btn-warning btn-block" (click)="desFinalizarPartido()">Desfinalizar partido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
