<div id="app" class="bg-light justify-content-between">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-row space-between fixed-top">
    <a class="navbar-brand p-0 white-ou left" href="/">
      <img src="/assets/img/logo.png" style="filter: invert(100%);" width="55" height="50" alt="">
    </a>
    <button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse right mr-auto" id="navbarNav" [ngbCollapse]="!navbarCollapsed">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item"><a href="/" class="nav-link right" routerLink="home">Home </a></li>
      <li class="nav-item" *ngIf="showAdminBoard"><a href="/admin" class="nav-link" routerLink="admin">Administrador</a></li>
      <li class="nav-item" *ngIf="showArbitroBoard"><a href="/arbitro" class="nav-link" routerLink="arbitro">Arbitro</a></li>
      <li class="nav-item" *ngIf="showModeratorBoard"><a href="/mod" class="nav-link" routerLink="mod">Moderador</a></li>
      <li class="nav-item"><a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Usuario</a></li>
    </ul>
      <ul class="navbar-nav" *ngIf="!isRutaEspecialFlag">
        <ng-container *ngIf="federaciones && federaciones.length <=3">
        <ul class="nav-item align-content-center" *ngFor="let federation of federaciones">
            <a title="{{ federation.nombre}}" class="nav-link right" href="/federacion/{{ federation.nombre }}">{{ federation.nombreLargo }}</a>
      </ul>
        </ng-container>
        <ng-container *ngIf="federaciones && federaciones.length > 3 && federaciones.length < 6">
        <ul class="nav-item" *ngFor="let federation of federaciones">
            <a title="{{ federation.nombreLargo}}" class="nav-link right" href="/federacion/{{ federation.nombre}}">{{ federation.nombre }}</a>
        </ul>
        </ng-container>
        <ng-container *ngIf="federaciones && federaciones.length > 6">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle right" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              federaciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ng-template #dropdownItems>
                <a *ngFor="let federation of federaciones" class="dropdown-item" title="{{ federation.nombreLargo }}" href="/federacion/{{ federation.nombre  }}">{{ federation.nombre }}</a>
              </ng-template>
              <ng-container *ngTemplateOutlet="dropdownItems"></ng-container>
            </div>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav" *ngIf="isRutaEspecialFlag">
        <ng-container *ngIf="secciones && federaciones.length <=3">
        <ul class="nav-item align-content-center" *ngFor="let seccion of secciones">
            <a title="{{ seccion.nombreLargo}}" class="nav-link right" href="/federacion/{{ federacion  }}/{{ seccion.nombreLargo }}">{{ seccion.nombreLargo }}</a>
        </ul>
        </ng-container>
      </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item"><a href="/register" class="nav-link mr-auto" routerLink="register">Sign Up</a></li>
      <li class="nav-item"><a href="/login" class="nav-link mr-auto" routerLink="login">Login</a></li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item"><a href="/profile" class="nav-link mr-auto" routerLink="profile">{{ username }}</a></li>
      <li class="nav-item"><a href class="nav-link" (click)="logout()">LogOut</a></li>
    </ul>

    </div>



   <!-- TODO POR CADA <div class="collapse navbar-collapse" A LA QUE PERTENEZCA SE AÑADIRÁ UNO DE ESTOS Y MAS DE X COMO UN DESPLEGABLE QUE PONGA "FEDERACIONES"
   EN LA PARTE DE ARBITO SALDRÁ UN MENÚ DONDE UNO SEAN PENDIENTES TODOS LOS PARTIDOS EMPEZANDO POR LOS EN CURSO A LOS PENDIENTES
   ASIGNADOS A ESTE ARBITRO, PARA LOS NO LOGEADOS


   -->

	</nav>
  <div class="container-fluid bg-light container">
  <ng-container *ngIf="seccionesFiltradas && seccionesFiltradas > 0 ">
    <div class="nav-item" *ngFor="let entrada of seccionesFiltradas.entradas">
      <h2>{{ entrada.titulo}} WTF</h2>
    </div>
  </ng-container>
    <router-outlet></router-outlet>
  </div>
</div>
